@{
    ViewData["Title"] = "Eq2Grau";
}

<div class="text-center">
    <h1 class="display-4">Cálculo das raízes de uma equação do 2ºgrau.</h1>
</div>

<form>
    <span>Introduza, por favor, os coeficientes da Equação de 2º Grau</span>
    <br />
    a=<input type="text" />
    <br />
    b=<input type="text" />
    <br />
    c=<input type="text" />

    <input type="submit" value="Calcular" />
</form>